<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <h1 class="powered">Powered by: Valentino Destefano</h1>
    <p class="info">This application has been developed with Angular</p>
    <p class="info">I want to thank <a class="link-text" href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">Fireship.io</a> for their good content.</p>
    <p class="info2">Contact me!</p>
    <a href="https://www.linkedin.com/in/valentino-destefano-64217419b/" class="fa fa-linkedin"></a>
    <div class="image">
        <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/angular-3-logo.png" alt="Angular">
    </div>
    

</body>