@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    margin: 0;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 0px;
  }

  .topnav a.normal{
    font-family: 'Satisfy', cursive;
    margin-left: 15px;
    transition-duration: 1s;
    border-radius: 20px;
    color: #002a9c;
    font-weight: bold;
  }
  
  .topnav a.normal:hover {
    color: #000000;
    transition-duration: 1s;
  }
  
  .topnav a.active {
    background-color: #002a9c;
    color: rgb(255, 255, 255);
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
    transition-duration: 1s;
  }

  .topnav a.active:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    transition-duration: 1s;
  }